{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h1>Ast Visualizer</h1>
  <form class="form form-horizontal" method="post" role="form" action=/>
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.code) }}
      <input type="submit" value="Go" id="refresh">
  </form>
</div>
{% endblock %}

{% block head %}
{{super()}}

    <link rel="stylesheet" href={{ url_for('.static', filename='style.css')}}></style>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
      function assert(condition,msg){
        if (!condition){
          alert(msg);
          throw Error("Assertion failed");
        }
      }
    </script>
    <script type="text/javascript" src={{ url_for('.static', filename='generate_ast.js')}}></script>

{% endblock %}
